@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,403;1,403&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Colors */
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    /* Font Families */
    --font-dm: "DM Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-rubik: "Rubik", sans-serif;

    /* Override font default Tailwind ke DM Sans */
    --font-sans: var(--font-dm);
}

[x-cloak] {
    display: none !important;
}

input[type="number"]#quantity-cart-item::-webkit-inner-spin-button,
input[type="number"]#quantity-cart-item::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]#quantity-cart-item {
    -moz-appearance: textfield;
}
